body {
    background-image: url('fundo2.jpg');
    background-size: cover; 
    background-position: center;
}
.container {
    background-color: rgb(202, 200, 200);
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}